<!DOCTYPE html>
<html>
	<head>
		<meta charset ="UTF8">
		<meta httpequiv="XUACompatible" content="IE=edge">
        <meta name="viewport" content="width=devicewidth, initialscale=1">
		
		<! jQuery (necessary for Bootstrap's JavaScript plugins) >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <! Include all compiled plugins (below), or include individual files as needed >
        <script src="../js/bootstrap.js"></script>
		<! Link to our own JavaScript file>
		<script src="../js/script.js"></script>
		<script src="../js/jquery2.1.1.min.js"></script>
		<title>Newsletter</title>
		<link rel="icon" href="../images/favicon.ico" type="image/xicon"/>
		<link href="../css/styles.css" rel="stylesheet"/>
		<link href="../css/bootstrap.css" rel="stylesheet"/>
		
	</head>
	
	<body class="mainBody">
		<header id="mainHeader">
		</header>
		<br>
		
		
		<section>
		<div class="container">
		<div class="jumbotron">
		<h3>Subscribe To our newsletter</h3>
		<p>Subscribe to our newsletter to see the latest news in upcoming musicians, lessons, and
		other exciting news about AudioNexus.</p>
		
		</div>
		</div>
		</section>
		<br>
		
		<footer id="mainFooter">
		</footer>
	</body>
</html>
